<!DOCTYPE html>
<html lang="br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Items</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:class="menu">
    <h1 th:class="menu__title">Lista de Itens</h1>
    <nav th:class="container">
        <ul th:class="menu__shortcuts">
            <li th:class="menu__shortcut">
                <a th:class="menu__link" th:href="@{/}">Voltar</a>
            </li>
            <li th:class="menu__shortcut">
                <a th:class="menu__link" th:href="@{/items/create}">Adicionar Item</a>
            </li>
        </ul>
    </nav>
</header>

<section th:class="section__table">
    <div th:class="container">
        <table th:class="table">
            <thead th:class="table__head">
            <tr th:class="table__row">
                <th th:class="table__header">Nome</th>
                <th th:class="table__header">Opções</th>
            </tr>
            </thead>
            <tbody th:class="table__body">
            <tr th:class="table__row" th:each="item : ${itemsList}">
                <td th:class="table__data" th:text="${item.name}"></td>
                <td th:class="table__data">
                    <a th:class="edit-btn" th:href="@{'/items/edit/id/'+${item.id}}">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>